# Supabase — https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://rxkubldqhapdfybtgjkc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4a3VibGRxaGFwZGZ5YnRnamtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMDg1OTYsImV4cCI6MjA5MDg4NDU5Nn0.VMfj-o7wYrk7TDwx_VIPPP7qehJO0TtzzIatAxeLjkI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ4a3VibGRxaGFwZGZ5YnRnamtjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTMwODU5NiwiZXhwIjoyMDkwODg0NTk2fQ.VZyHXOP-yvA1Gr8w0MfXnPq8ZvsOocPHTqTdbDUPu28

# smsmode — https://ui.smsmode.com/settings/keys
SMSMODE_ACCESS_TOKEN=R2TvsEoipONLF6lrHYnCeOFK9YadeCCN

# Lemon Squeezy — https://app.lemonsqueezy.com/settings/webhooks
LEMONSQUEEZY_WEBHOOK_SECRET=votre_webhook_secret

# URL de l'app (important pour les liens de feedback)
NEXT_PUBLIC_APP_URL=https://app.reputo.fr
